/*----Variables----*/
:root {
  --primary: #181E30;
  --primary-alter: #13192C;
  --secondary: #FEFEFE;
  --secondary-alter: #747D91;
  --tertiary: #1DB955;
  --quaternary: #BD4868;
  --font-xs: 1rem;
  --font-s: 1.2rem;
  --font-m: 1.4rem;
  --font-l: 1.8rem;
  --font-xl: 2.2rem;
  --font-xxl: 3rem;
  --spacing-unit: 6px;
  --spacing-unit-half: 4px;
  --spacing-unit-x2: 12px;
  --spacing-unit-x3: 18px;
  --spacing-unit-x4: 24px;
}
/*----Global----*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--primary);
}
/*----Layout----*/
.page-container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 66px calc(100vh - 66px - 132px) 132px;
}
/*----Header----*/
.header {
  grid-area: 1;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr minmax(160px, 198px);
}
.search-bar {
  display: none;
}
.nav-bar {
  grid-column: 2;
}
.list {
  list-style: none;
}
.nav-bar .list,
.content .menu {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.nav-bar .list__item {
  width: 34px;
  height: 34px;
}
.nav-bar .icon-button {
  width: 100%;
  height: 100%;
  border: none;
  font-size: var(--font-xl);
  color: var(--secondary-alter);
  background-color: transparent;
}
.nav-bar .icon-button:hover {
  color: var(--secondary);
}
.profile-button {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}
.profile-picture {
  width: inherit;
  height: inherit;
  object-fit: cover;
}
/*----Side-Bar----*/
.side-bar {
  grid-area: 3;
}
.side-bar__title {
  display: none;
}
.side-bar .primary-button {
  display: none;
}
.side-bar .content {
  display: grid;
  grid-template-rows: repeat(2, 66px);
}
.library,
.playlists {
  display: none;
}
.menu {
  grid-row: 2;
  height: 100%;
  background-color: var(--primary-alter);
}
.menu .list__item {
  color: var(--secondary-alter);
  display: grid;
  place-items: center;
  gap: var(--spacing-unit);
}
.content .list__item--active {
  color: var(--tertiary);
}
.menu .icon {
  font-size: var(--font-xl);
  font-weight: 300;
}
.menu .text {
  font-size: var(--font-xs);
}
/*-Player-*/
.player {
  position: relative;
  grid-row: 1;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto 2fr 1fr;
  gap: var(--spacing-unit-x2);
  align-items: center;
  background-color: var(--secondary);
}
.cover {
  grid-column: 1;
  width: 58px;
  height: 58px;
  margin: 5%;
  overflow: hidden;
}
.cover__image {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}
.player .info {
  padding: 0 var(--spacing-unit-x2);
  color: var(--primary-alter);
  overflow: hidden;
}
.song-name {
  width: 1000%;
  font-size: var(--font-m);
  font-weight: 600;
}
.artist {
  font-size: var(--font-s);
  font-weight: 500;
}
.buttons {
  display: flex;
  justify-content: space-evenly;;
}
.buttons .element {
  font-size: var(--font-xl);
  border: none;
  display: grid;
  place-items: center;
  color: var(--primary-alter);
  background-color: transparent;
}
.buttons .back,
.buttons .next {
  display: none;
}
.time-bar {
  position: absolute;
  top: -6px;
  width: 100%;
  height: 6px;
  background-color: var(--primary-alter);
}
.time {
  height: 6px;
  background-color: var(--tertiary);
}
.time {
  animation: timer 60s linear 0.1s;
}
/*----Main----*/
.main {
  width: 100%;
  max-width: 100%;
  height: auto;
  grid-row: 2;
  display: grid;
  place-items: center;
  grid-template-rows: minmax(50vw, 300px) repeat(3, 280px);
  grid-template-areas: 
  "songs"
  "featured"
  "new-releases"
  "top-10";
  overflow-y: scroll;
  scrollbar-color: var(--tertiary) var(--primary-alter);
  scrollbar-width: 8px;
}
.main::-webkit-scrollbar {
  width: 8px;
  background-color: var(--primary-alter);
  border-radius: 14px;
}
.main::-webkit-scrollbar-thumb {
  background-color: var(--tertiary);
  border: 1px solid var(--primary-alter);
  border-radius: 28px;
}
.your-music {
  grid-area: songs;
  position: relative;
  width: 80%;
  max-width: 430px;
  height: 60vw;
  min-height: 200px;
  max-height: 300px;
  height: 100%;
  display: grid;
  place-items: center;
  perspective: 400px;
  transform-style: preserve-3d;
}
.your-music .song {
  position: absolute;
  width: 100%;
  max-width: 430px;
  height: 80%;
  min-height: 150px;
  max-height: 230px;
  padding: 0 var(--spacing-unit-x2);
  border-radius: 14px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(5, 1fr);
  grid-template-areas:
  "name name name name name"
  "number . . . ."
  "album album album artist artist";
  color: var(--secondary);
  background-color: #BE473B;
  cursor: pointer;
  transition: transform 400ms ease;
}
/*Hidden*/
.your-music .next {
  transform: translate3d(20%, 0, -100px);
}
.your-music .previous {
  transform: translate3d(-20%, 0, -100px);
}
.your-music .background {
  grid-area: 1 / 2 / 4 / 5;
  place-self: center;
  width: 100%;
  height: 100%;
}
.your-music .artist-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -0;
}
.song__name {
  grid-area: name;
  font-size: var(--font-s);
  text-shadow: 4px 2px var(--primary-alter);
  letter-spacing: 1px;
  text-align: center;
  align-self: center;
}
.your-music .number {
  grid-area: number;
  font-size: var(--font-xl);
  align-self: center;
}
.your-music .album {
  grid-area: album;
}
.your-music .artist {
  grid-area: artist;
  width: fit-content;
  place-self: end;
  font-weight: 400;
}
.song .name {
  font-weight: 500;
}
.song .album,
.song .artist {
  font-size: var(--font-xs);
  padding-bottom: var(--spacing-unit-x2);
  align-self: center;
}
.your-music .number,
.your-music .album,
.your-music .artist {
  display: none;
}
.your-music .song:nth-child(2n) {
  background-color: #CB7971;
}
.your-music .song:last-child {
  background-color: #1E8C65;
}
/*Current*/
.your-music .current {
  transform: translate3d(0%, 0, 0px);
}
.your-music .button {
  position: absolute;
  border: none;
  font-size: var(--font-xl);
  color: var(--primary-alter);
  background-color: transparent;
  z-index: 2;
}
.your-music .button-back {
  left: -6%;
}
.your-music .button-next {
  right: -6%;
}
.current .number,
.current .album,
.current .artist {
  display: block;
}
/*----Featured----*/
.featured {
  grid-area: featured;
}
.featured,
.section {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 100%;
  padding: var(--spacing-unit-x4);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
}
.featured__title,
.section__title {
  font-size: var(--font-l);
  color: var(--quaternary);
}
.featured__subtitle {
  font-size: var(--font-m);
  color: var(--secondary);
}
.container {
  width: 100%;
  height: 100%;
  margin-top: var(--spacing-unit-x4);
  display: flex;
  text-align: center;
  overflow-x: scroll;
  overflow-y: hidden;
  z-index: 1;
}
.container::-webkit-scrollbar {
  display: none;
}
.container::after {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80px;
  height: 220px;
  content: "";
  background-image: linear-gradient(to left, rgb(24, 30, 48) 40%, rgba(255,255,255,0));
  z-index: 2;
}
.featured .album {
  width: 130px;
  min-width: 130px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-unit);
}
.album__baner {
  width: 90px;
  height: 90px;
  min-height: 90px;
  margin-bottom: var(--spacing-unit-x2);
  border-radius: 50%;
  overflow: hidden;
}
.album__cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.album__title {
  font-size: var(--font-m);
  font-weight: 600;
  color: var(--secondary);
}
.album__artist,
.container .song__artist {
  font-size: var(--font-s);
  font-weight: 400;
  color: var(--secondary-alter);
}

.releases {
  grid-area: new-releases;
}
.container {
  gap: var(--spacing-unit-x4);
}
.container .song {
  width: 100px;
  height: 160px;

}
.container .song__baner {
  width: 100px;
  height: 100px;
  margin-bottom: var(--spacing-unit-x3);
  border-radius: 8px;
  overflow: hidden;
}
.container .song__cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container .song__title {
  font-size: var(--font-m);
  font-weight: 500;
  color: var(--secondary);
  margin-bottom: var(--spacing-unit);
}

.top-10 {
  grid-area: top-10;
}
/*----keyframes----*/
@keyframes timer {
  0%      {width: 0%;}
  100%    {width: 100%;}
}